/* It works for the given resolution. in this case I have made this applicable for the width 0-100  */

/* NAVIGATION SECTION  */
#navbar{
    flex-direction: column;

}
#navbar ul li a{
    font: 1rem;
    padding: 0px 7px;
}

/* HOME SECTION  */
#home{
    height: 380px;
    padding:3px 60px ;

    
}

#home::before{
    height: 72%;
    
}

#home p{
    font-size: 14px;
}

/* SERVICES SECTION  */
#services{
    flex-direction: column;


}
#services .box{
   
    padding:14px ;
    margin:2px 0px ;
    margin-bottom: 20px;
    background-color: white;

}

/* CLIENT SECTION  */

#clients{
   flex-wrap: wrap;
}

#clients img{
   width:130px ;
   padding: 2px 8px ;
   height: auto;

}

/* CONTACT SECTION */


/* FOOTER */
 
/* UTILITY  */

.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding:4px 8px ;
}